<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Books

    <a data-toggle="collapse" href="#author_books_new_form">
      Add book
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @author.books.each do |book| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to book, book %>

        <%= link_to book, method: :delete, data: { confirm: "Do you really want to delete this book" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="author_books_new_form">
        <%= render partial: "authors/author_books_new_form" %>
      </div>
    </div>

  </ul>
</div>
