<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @author, partial: "card", as: :author %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "authors/author_books" %>
  </div>
</div>
