<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @book, partial: "card", as: :book %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "books/book_reviews" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "books/book_users" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "books/book_user_readers" %>
  </div>
</div>
